<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <ul>
        <li>© {{ site.title }} 2017 | </li>
        <li>
          <a href="#actus" rel="nofollow" class="text-danger">{{ site.data.header.news[page.version] }}</a> | 
        </li>
        <li>
          <a href="#calendrier" rel="nofollow" class="text-danger">{{ site.data.header.calendar[page.version] }}</a> | 
        </li>
        <li>
          <a href="#resultats" rel="nofollow" class="text-danger">{{ site.data.header.results[page.version] }}</a> | 
        </li>

        <li>
          <a href="#bio" rel="nofollow" class="text-danger">{{ site.data.header.bio[page.version] }}</a> | 
        </li>
        <li>
          <a href="#sponsors" rel="nofollow" class="text-danger">{{ site.data.header.sponsors[page.version] }}</a> | 
        </li>
        <li>
          <a href="https://www.facebook.com/gael.lebellec.568" target="_blank" rel="nofollow" class="text-danger"><i class="fab fa-facebook" aria-hidden="true"></i></a> | 
        </li>  
        <li>
          <a href="https://www.instagram.com/gaellbllec/" target="_blank" rel="nofollow" class="text-danger"><i class="fab fa-instagram" aria-hidden="true"></i></a> | 
        </li>                  
        <li>
          <a href="https://www.youtube.com/results?search_query=gael+le+bellec" target="_blank" rel="nofollow" class="text-danger"><i class="fab fa-youtube" aria-hidden="true"></i></a> | 
        </li>
        <li class="text-default">Réalisation <a title="Nicolas Jouanno - PRODUCT MANAGER, skills MARKETING, DESIGN & TECH" href="https://nicolasjouanno.com" target="_blank">Nicolas Jouanno</a></li>
      </ul>                
    </div>
  </div>
</div>