@import url('https://fonts.googleapis.com/css?family=Oswald:200,400');

/* ---------------------------
START => THEME 
----------------------------*/
/* Space out content a bit */
body {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}
nav {
  font-weight: 400;
}
li{
  list-style: none;
}
footer li {
  display: inline;
}
a:hover{
  text-decoration: none;
}
h2{
  text-align: center !important;
}
h3{
  font-size: 1.2em;
}
h4{
  font-size : 0.9em;
}
footer {
  margin-bottom: 70px;
}
img{
  height: 100px; 
  width: auto; 
  display: block;
  margin: auto;
}
ul{
  padding: 0 0 0 0 !important;
}
.spacer-xs-top{
  margin-top: 5px;
}
.spacer-sm-top{
  margin-top: 10px;
}
.spacer-md-top{
  margin-top: 20px;
}
.spacer-lg-top{
  margin-top: 40px;
}
.spacer-xs-bottom{
  margin-bottom: 5px;
}
.spacer-sm-bottom{
  margin-bottom: 10px;
}
.spacer-md-bottom{
  margin-bottom: 20px;
}
.spacer-lg-bottom{
  margin-bottom: 40px;
}
.text-white {
  color: #FFF;
}
.text-underline{
  text-decoration: underline;
}
.hidde{
  display: none;
}

.rank{
  font-size : 2em;
}

/* ------- HEADER PAGE-------*/
.bg1, .bg2{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
  background-size: cover;
  height: 100vh;
  background-position: top-center;
  background-image: url(../img/header_5.jpg);
}

#header{
  height: 85vh;
}
#header h1 {
  font-weight: 400;
}

.header-img-1{
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ) , url(../img/header_1.jpg), no-repeat;
}

.header-img-2{
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ) , url(../img/header_2.jpg), no-repeat;
}

.header-img-3{
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ) , url(../img/header_3.jpg), no-repeat;
}

#calendrier {
  padding-bottom: 10px;
}
#izir {
  position: fixed;
  bottom: 0;
  background: #0fd5ff;
  height: auto;
  padding: 5px 0 10px 0 !important;
}
#izir p {
    margin: 15px 0 0 0;
}
img#logo-izir {
  max-height: 50px;
  width: auto;
  margin: 0 0 0 0 !important;
}

#newsletter-form{
  position: fixed;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  background: #ecf0f1;
}

#newsletter-form .center{
  margin: auto;
}
/* ---------------------------
END <= THEME 
----------------------------*/

/* ---------------------------
START => BOOTSTRAP CUSTOM 
----------------------------*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

.flag img {
  height: 32px;
  width: auto;
  margin-top: 5px
}

#bio-titre{
  background: url(../img/liserets.png) repeat-x;
  color:#FFF;
  text-shadow: 1px #333;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}

.container-fluid{
  padding: 0 0 0 0 !important;
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  margin:auto;
  border-bottom: .05rem solid #e5e5e5;
  background: none !important;
  border: none !important;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .header nav {
    font-size: 1.5em;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* ---------------------------
END <= BOOTSTRAP CUSTOM 
----------------------------*/
@media (max-width: 576px) {
  h1{
    font-size: 1.5em !important;
  }
  h2{
    font-size: 1em !important;
  }
  h3{
    font-size: 0.9em !important;
  }
  #izir{
    padding: 10px 0 10px 0 !important;
  }
  #logo-izir {
  max-height: 30px;
  width: auto;
  }
  #izir p{
    margin: 5px;
  }
  .text-xs-center{
    text-align: center !important;
  }
  #newsletter-form{
  position: fixed;
  top: 15%;
  left: 5%;
  height: 50%;
  width: 90%;
  background: #ecf0f1;
}
}