<!doctype html>
<html lang="{{ page.version }}">
  <head>

    {% include head.html %}

  </head>

  <body>

      <div class="container-fluid ">

        <!-- HEADER --> 
        <header class="container-fluid bg-danger  clearfix">

          {% include header.html %}

        </header>

        <main role="main">

          {{ content }}
          
        </main>

        <!-- FOOTER
          legales + credits + menu
          Actu, Resultats, calendrier, Bio ,sponsors, Facebook, youtube
        -->
        <footer class="footer">

          {% include footer.html %}

        </footer>
      </div> <!-- /container -->

    <!-- GOOGLE FONT
    ================================================== 
    -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    <!-- FONTAWESOME
    ================================================== 
    -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <!-- JQUERY
    ================================================== 
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript
    ==================================================
    -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <!-- Global JavaScript
    ==================================================
    -->
    <script src="{{ site.url }}/assets/js/global.js"></script>
  </body>
</html>
