/* ---------------------------
START => THEME 
----------------------------*/
/* Space out content a bit */
body {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}
nav {
  font-weight: 400;
}
li {
  list-style: none;
}
footer li {
  display: inline;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-weight: 400 !important;
}
h2 {
  text-align: center !important;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 0.9em;
}
footer {
  margin-bottom: 70px;
}
img {
  height: 100px;
  width: auto;
  display: block;
  margin: auto;
}
ul {
  padding: 0 0 0 0 !important;
}
.text-white {
  color: #fff;
}
.text-underline {
  text-decoration: underline;
}

.rank {
  font-size: 2em;
}

/* ---------------------------
  END <= THEME 
  ----------------------------*/

/* ---------------------------
  START => BOOTSTRAP CUSTOM 
  ----------------------------*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: 0.05rem solid #e5e5e5;
}

.flag img {
  height: 32px;
  width: auto;
  margin-top: 5px;
}

.liseret {
  background: url(/img/liserets.png) repeat-x;
  background-size: contain;
  color: #fff;
  text-shadow: 1px 1px #000;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}

.container-fluid {
  padding: 0 0 0 0 !important;
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  margin: auto;
  border-bottom: 0.05rem solid #e5e5e5;
  background: none !important;
  border: none !important;
}
.jumbotron .btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* ---------------------------
  END <= BOOTSTRAP CUSTOM 
  ----------------------------*/
@media (max-width: 576px) {
  h1 {
    font-size: 1.5em !important;
  }
  h2 {
    font-size: 1em !important;
  }
  h3 {
    font-size: 0.9em !important;
  }
  .text-xs-center {
    text-align: center !important;
  }
  .flag img {
    margin-top: 6px;
    height: 14px;
  }
}
